* {
  padding: 0;
  margin: 0;
}

:root {
  /* font weights - 300, 400, 500, 600 (heading only), 700 (para only) */
  --heading-font: "Montserrat", sans-serif;
  --para-font: "Roboto", sans-serif;
  --red: #ea5743;
  --gray: #dfe3e5;
  --darker-gray: #e0e5eb;
  --text-gray: #949799;
  --darker-text-gray: #555c66;
  --black: #292e33;
  --darker-black: #333333;
  --white: #ffffff;
}

h1,
h2,
button {
  font-family: var(--heading-font);
}

button {
  text-transform: uppercase;
}

h3,
h4,
h5,
h6,
p,
input,
textarea {
  font-family: var(--para-font);
}

p {
  font-size: 1.1rem;
}

/* Media Queries */

/* tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  * {
    background-color: #ea5743;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  .section-1 {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
  }

  .text-area,
  .details-area,
  .text-area-2,
  .section-6 p {
    padding: 30px 50px 20px 50px;
  }

  .text-area h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .text-area p,
  .text-area-2 p {
    margin-bottom: 40px;
  }

  .red-circle {
    background: var(--red);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
  }

  .text-area button {
    color: var(--white);
    background-color: var(--black);
    border-radius: 0;
    width: 50vw;
    height: 7vh;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    font-weight: 500;
    border: 0;
  }

  .text-area button:hover {
    background-color: var(--red);
  }

  .section-1 .image-area img {
    width: 55vw;
    float: right;
    margin-top: -100px;
  }

  .section-2 .text-area h2,
  .section-2 .details-area h2,
  .section-5 .text-area h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .section-2 .text-area p:first-of-type {
    margin-bottom: 40px;
  }

  .section-2 .text-area p:last-of-type {
    margin-bottom: 20px;
    line-height: 30px;
  }

  .section-2 .details-area h3 {
    margin-bottom: 10px;
  }

  .section-2 .details-area p {
    margin-bottom: 40px;
  }

  .socials {
    display: flex;
    justify-content: flex-start;
    column-gap: 15px;
    margin-bottom: 50px;
  }

  .image-background-circle {
    background: var(--gray);
    border-radius: 50%;
    width: 275px;
    height: 275px;
    margin-bottom: 40px;
    margin: 0 auto;
  }

  .section-3 .text-area h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .section-3 .text-area .subheading {
    font-weight: 500;
    margin-bottom: 20px;
  }

  .section-3 .text-area p:nth-of-type(2) {
    line-height: 30px;
  }

  .section-3 .text-area .red-underline {
    border-bottom: 0.5rem solid var(--red);
    width: 60vw;
    margin-bottom: 25px;
  }

  .section-3 .image-area img {
    width: 90vw;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: -40px;
    z-index: 10;
  }

  .section-3 .image-overlap-area {
    position: relative;
    margin: 0 auto;
    margin-top: -60px;
    line-height: 50px;
    width: 60vw;
    background-color: var(--red);
    color: var(--white);
    z-index: 20;
    padding: 30px 20px;
  }

  .section-3 .image-overlap-area h3 {
    text-transform: uppercase;
    font-size: 1.35rem;
    letter-spacing: 1.35px;
  }

  .section-3 .image-overlap-area p,
  .section-3 .text-area-2 p {
    font-size: 1.1rem;
  }

  .section-3 .image-overlap-area a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
  }

  .section-3 .text-area-2 {
    padding: 30px 58px 20px 58px;
    line-height: 30px;
  }

  .section-4 {
    background-color: var(--darker-gray);
  }

  .section-4 .text-area h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .section-4 .text-area .subheading {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 30px;
  }

  .list-icon i.fas.fa-circle {
    color: var(--red);
  }

  .list-icon {
    margin: 5px 20px 0 0;
  }

  .list-icon-and-list-copy {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 30px;
  }

  .list-heading-area .list-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    color: var(--darker-text-gray);
    letter-spacing: 4px;
    white-space: nowrap;
  }

  .list-area {
    padding: 35px;
  }

  .list-copy {
    margin-bottom: 50px;
    padding-right: 13px;
    line-height: 25px;
  }

  .section-5 .portfolio-snapshots {
    margin-top: -2038px;
    position: relative;
    z-index: 20;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .section-5 .portfolio-snapshots img {
    width: 70vw;
    margin-bottom: 30px;
    outline: solid var(--red);
  }

  .section-5 .red-underline-vertical {
    display: flex;
    flex-direction: column;
    background-color: var(--red);
    height: 240vh;
    width: 50vw;
    margin: 0 auto;
    position: relative;
    margin-top: 70px;
    z-index: 10;
    margin-bottom: 70px;
  }

  .section-5 .text-area {
    position: relative;
    z-index: 20;
    background-color: var(--white);
    padding: 15px;
    width: 65vw;
    line-height: 25px;
    margin-bottom: 70px;
    outline: solid var(--black);

  }

  .section-5 .text-area button {
    color: var(--black);
    background-color: var(--white);
    border-radius: 0;
    width: 30vw;
    height: 4vh;
    margin: -50px 0 20px 0px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px solid var(--black);
  }

  .text-area button:hover {
    background-color: var(--black);
    color: var(--black);
  }

  .section-6 {
    position: relative;
    z-index: 20;
    background-color: var(--darker-gray);
    padding-top: 60px;
  }

  .section-6 .image-in-circle {
    border: solid 5px var(--red);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
    margin: 0 auto;
  }

  .section-6 p {
    font-size: 1.25rem;
    line-height: 40px;
    text-align: center;
    padding: 20px 10px;
  }

  /* styling for chevrons */
  .section-6 .testimonal-sub-section {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }

  #chevron-right {
    transform: rotate(180deg);
  }

  .section-6 .testimonial-author {
    /* margin: -10px 0 25px 0; */
    text-transform: uppercase;
    color: var(--darker-text-gray);
    letter-spacing: 4px;
    white-space: nowrap;
  }

  .section-7 {
    background-color: var(--darker-black);
    padding: 30px 50px 20px 50px;
  }

  .section-7 .contact-area-small-heading {
    /* Ready to Talk */
    color: var(--darker-gray);
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-size: 0.95rem;
  }

  .section-7 .contact-heading {
    /* Contact Me */
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .section-7 p {
    color: var(--white);
    margin-bottom: 20px;
    line-height: 30px;
  }

  ::placeholder {
    color: var(--darker-gray);
    margin-bottom: 10px;
  }

  form input.contact-input-item {
    background-color: transparent;
    border: none;
    min-width: 60vw;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: solid 3px var(--white);
  }

  form textarea {
    background-color: transparent;
    border: none;
    min-width: 60vw;
    min-height: 10vh;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: solid 3px var(--white);
  }

  form ul {
    list-style-type: none;
  }







}