* {
  padding: 0;
  margin: 0;
}

:root {
  /* font weights - 300, 400, 500, 600 (heading only), 700 (para only) */
  --heading-font: "Montserrat", sans-serif;
  --para-font: "Roboto", sans-serif;
  --red: #ea5743;
  --gray: #dfe3e5;
  --darker-gray: #e0e5eb;
  --text-gray: #949799;
  --black: #292e33;
  --darker-black: #333333;
  --white: #ffffff;
}

h1,
h2,
button {
  font-family: var(--heading-font);
}

h3,
h4,
h5,
h6,
p {
  font-family: var(--para-font);
}

/* Media Queries */

/* tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  * {
    background-color: #ea5743;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  .section-1 {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
  }

  .text-area {
    padding: 30px 50px 20px 50px;
  }

  .text-area h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .text-area p {
    margin-bottom: 40px;
  }

  .red-circle {
    background: var(--red);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
  }

  .text-area button {
    color: var(--white);
    background-color: var(--black);
    border-radius: 0;
    width: 50vw;
    height: 7vh;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0;
  }

  .text-area button:hover {
    background-color: var(--red);
  }

  div.image-area img {
    width: 55vw;
    float: right;
    margin-top: -100px;
  }
}